.footer {
  background-image: url("../img/fondo.jpg");
  background-attachment: fixed;
  padding-top: 50px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.footer-contact {
  width: 30%;
}

.contact-title {
  font-size: 60px;
  color: #fff;

  width: 20%;
  border-bottom: 5px solid #ffd31d;

  margin: 0;
}

.contact-city {
  color: #fff;
  font-size: 25px;

  margin: 30px 0 60px 0;
}

.contact-paragraph {
  color: #fff;
  font-size: 24px;

  margin: 5px 0 10px 0;

  display: flex;
  align-items: center;
}

.contact-icon {
  width: 10%;

  margin-right: 15px;
}
.contact-paragraph_link {
  text-decoration: none;
  color: #fff;
}

.contact-girl {
  width: 40%;
}

.contact-container {
  border-top: 2px solid white;
  width: 100%;
  margin-top: 60px;

  display: flex;
  align-items: center;
}
.contact-logo {
  padding: 20px 10px 40px 30px;

  width: 70px;
}
.contact-list {
  margin: 0;

  list-style: none;

  display: flex;
  justify-content: space-between;
}
.contact-item {
  margin-left: 20px;
}
.contact-link {
  text-decoration: none;
  color: #fff;

  font-size: 20px;
}

@media screen and (max-width: 999px) {
  .footer-contact {
    width: 90%;
  }

  .contact-title {
    font-size: 45px;
  }
 
  .contact-girl {
    display: none;
  }

  .contact-logo {
    width: 40px;
    padding: 0;
  }
  .contact-list {
    margin: 0;
  
    list-style: none;
  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .contact-item {
    margin-left: 10px;
  } 
  .contact-link {
    font-size: 18px;
  }
}