
.proyect-title {
  font-size: 70px;
  margin: 0 0 50px 50px;
  width: 70px;
  border-bottom: 10px solid #602080;
}

.work_image {
  overflow-x: scroll;
  padding: 10px 0 10px 30px;
}
.proyect-paragraph {
  width: 80%;
  margin: 0 0 30px 50px;

  padding-bottom: 30px;

  border-bottom: 2px solid #aaa;
}
.proyect-name {
  font-size: 40px;
  margin: 30px 0 20px 0;
}

.proyect-description {
  font-size: 19px;
  margin-bottom: 20px;
}

.proyect-role {
  color: #602080;
  font-size: 20px;
  margin: 0;
}
.proyect-tool {
  color: #602080;
  font-weight: bold;
  font-size: 19px;

  margin: 0 0 30px 0;
}

.proyect-button {
  text-decoration: none;
  color: #fff;

  padding: 5px 20px 5px 20px;
  border-radius: 50px;
  background-color: #602080;
}

@media screen and (max-width: 999px) {
  .proyect-title {
    font-size: 45px;
  }

  .work_image img{
    width: 700px;
  }

  
}
