.section-proyect {
}
.proyect-title {
  font-size: 70px;
  margin: 0 0 50px 50px;
  width: 70px;
  border-bottom: 10px solid #602080;
}

.work_image {
  background-color: #142850;

  overflow-x: scroll;
  padding: 10px 0 10px 30px;
}
.proyect-paragraph {
  width: 40%;
  margin: 0 0 30px 50px;
}
.proyect-name {
  font-size: 40px;
  margin: 30px 0 20px 0;
}

.proyect-description {
  font-size: 19px;
  margin-bottom: 20px;
}

.proyect-role {
  color: #602080;
  font-size: 20px;
  margin: 0;
}
.proyect-tool {
  color: #602080;
  font-weight: bold;
  font-size: 19px;

  margin: 0 0 30px 0;
}

.proyect-button {
  text-decoration: none;
  color: #fff;

  padding: 5px 20px 5px 20px;
  border-radius: 50px;
  background-color: #602080;
}
