.training {
  margin-bottom: 40px;
}
.training-title {
  margin: 40px 0 50px 50px;
  font-size: 60px;
}

.training-container {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
}

.training-course {
  width: 30%;
  margin-left: 40px;
}

.course-title {
  font-size: 25px;
  margin: 0;
}
.course-time {
  font-size: 19px;
  margin: 0;
  padding-bottom: 10px;

  border-bottom: 2px solid #dbdbdb;
}

.course-content {
  font-size: 17px;
}

.course-logo {
  width: 95%;
  margin: 50px auto 50px auto;

  display: flex;
  align-items: center;
}

.course-line {
  width: 80%;
  height: 5px;
  border-radius: 50px;
  margin: 0 0 0 50px;

  background-color: #98ca3f;
}
.course-img {
  width: 150px;
}

@media screen and (max-width: 999px) {
  .training-title {
    margin: 40px 0 50px 50px;
    font-size: 45px;
  }
  .training-container{
    outline: 1px solid black;

    width: 100%;

    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .training-course {
    width: 70%;
    
    padding: 0 20px 0 20px;
  }
  .course-title {
    border-top: 2px solid #dbdbdb;
    margin-top: 30%;  
  }
}
